*{
    margin: 0;
    height: 70px;
    
}

.navbar{
    display: flex;
    flex-direction: row;
    margin: auto;
    background-color: rgb(150, 223, 214);
}


.navlinks{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.navitem{
    margin-right: 50px;
    list-style-type: none;
    text-decoration: none;
    
}

a{
    text-decoration: none;
}

.button{
    display: flex;
    flex-direction: none;
    margin-left: 00px;
}

.button{
    text-decoration: none;
}
.button{
    list-style-type: none;
}
