*{
    margin: 0;
    height: 80px;
    
}

.navbar{
    display: flex;
    flex-direction: row;
    background-color: rgb(99, 208, 195);
}

.navlink{
    margin-left: 20%;
}

.navlinks{
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.navitem{
    margin-right: 20px;
    list-style-type: none;
    text-decoration: none;
    
}

.button{
    display: flex;
    flex-direction: none;
    margin-left: 00px;
}
.Button{
    display: flex;
    text-decoration: none;
    border: none;
    
}
