*{
    margin: 0;
    height: 70px;
    
}

.navbar{
    display: flex;
    flex-direction: row;
    margin: auto;
    background-color: rgb(150, 223, 214);
}

.logotext{

}

.navlink{
    margin-left: 20%;
}

.navlinks{
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.navitem{
    margin-right: 20px;
    list-style-type: none;
    text-decoration: none;
    
}
a{
    text-decoration: none;
}


.button{
    list-style-type: none;
}
